<p
  class="text-base md:text-xl font-normal md:font-semibold text-center md:text-left"
>
  About Me
</p>
<p>
  Software Engineer with 3+ years of experience in developing, delivering and
  maintaining both frontend and backend applications with industry standards
  specialized in MongoDB, Express, React and Node.js (MERN) stack. Experienced
  in planning and architecting projects and managing small teams.
</p>
