---
import Card from "../../components/Card.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import Button from "../../components/Button.astro";
import projects from "../../data/latest-projects.json";
---

<p
  class="text-base md:text-3xl font-normal md:font-semibold text-center md:text-left mb-3"
>
  Latest Projects
</p>
<Card>
  <div class="grid md:grid-cols-4 gap-4">
    {
      projects.map((project) => {
        return (
          <ProjectCard
            title={project.title}
            summary={project.summary}
            technologies={project.technologies}
            link={project.link}
          />
        );
      })
    }
  </div>
  <Card classes="col-span-2 grid content-center pb-0" hideDropShadow>
    <Button classes="md:w-2/12 mx-auto" text="View More" id="view-more" />
  </Card>
</Card>

<script>
  import { navigate } from "astro:transitions/client";

  function setupViewMoreButton() {
    const viewMoreButton = document.getElementById("view-more");

    if (viewMoreButton) {
      viewMoreButton.addEventListener("click", () => {
        navigate("/projects");
      });
    }
  }

  setupViewMoreButton();

  document.addEventListener("astro:page-load", setupViewMoreButton);
</script>
