---
import strengths from "../../data/strengths.json";
---

<p
  class="text-base md:text-xl font-normal md:font-semibold text-center md:text-left"
>
  Strengths
</p>
<p class="text-sm md:text-base font-light">
  The following are the strengths I've gained and demonstrated throughout my
  career
</p>
<div class="md:flex flex-wrap text-sm md:text-base font-extralight text-center">
  {
    strengths.map((strength) => (
      <p class="bg-slate-100 rounded-lg py-1 px-3 mt-2 mr-0 md:mr-2">
        {strength.value}
      </p>
    ))
  }
</div>
