---
import Card from "../components/Card.astro";
import ImageCard from "../components/ImageCard.astro";
import Layout from "../layouts/Layout.astro";
import blogs from "../data/blogs.json";
---

<Layout>
  <div class="grid md:grid-cols-4 gap-4">
    <div class="col-span-4">
      <p
        class="text-base md:text-3xl font-normal md:font-semibold text-center md:text-left mb-3"
      >
        Blogs
      </p>
    </div>
    <div class="col-span-4">
      <Card>
        <div class="grid md:grid-cols-2 gap-4">
          {
            blogs.map((blog) => {
              return (
                <ImageCard
                  classes="grid md:grid-cols-1"
                  title={blog.title}
                  summary={blog.summary}
                  image={blog.image}
                />
              );
            })
          }
        </div>
      </Card>
    </div>
  </div>
</Layout>
