---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Skills from "../sections/home/Skills.astro";
import About from "../sections/home/About.astro";
import WorkExperience from "../sections/home/WorkExperience.astro";
import Blogs from "../sections/home/Blogs.astro";
import Projects from "../sections/home/Projects.astro";
import Social from "../sections/home/Social.astro";
---

<Layout>
  <div class="grid md:grid-cols-4 gap-4">
    <Card classes="col-span-4 md:col-span-2 grid content-center">
      <About />
    </Card>
    <Card classes="col-span-4 md:col-span-2 grid content-center row-span-3">
      <WorkExperience />
    </Card>
    <Card classes="col-span-4 md:col-span-2 grid content-center">
      <Skills />
    </Card>
    <Card classes="col-span-4 md:col-span-2 grid content-center">
      <Social />
    </Card>
    <div class="col-span-4 mt-16">
      <Blogs />
    </div>
    <div class="col-span-4 mt-16">
      <Projects />
    </div>
  </div>
</Layout>
