---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import SocialIcons from "../components/SocialIcons.astro";
import Strengths from "../sections/home/Strengths.astro"
---

<Layout>
  <main>
    <div class="grid md:grid-cols-4 gap-4">
      <Card classes="col-span-2 md:col-span-3 grid content-center">
        <p class="text-lg md:text-5xl font-bold">Miluckshan J. Vidyajayan</p>
        <p class="text-base md:text-lg font-normal">Senior Software Engineer</p>
        <p class="text-sm md:text-base font-light">
          Engineering solutions to transform ideas into reality
        </p>
      </Card>
      <Card
        classes="col-span-2 md:col-span-1 grid grid-cols-4 gap-1 md:gap-4 content-around justify-items-center"
      >
        <p class="col-span-4 text-base md:text-lg font-normal block md:hidden">
          Connect with me
        </p>
        <SocialIcons />
      </Card>
      <Card classes="col-span-2 grid content-center">
        <Strengths />
      </Card>
    </div>
  </main>
</Layout>
