---
interface Props {
  classes?: string;
  hideDropShadow?: boolean;
}

const { classes, hideDropShadow } = Astro.props;
---

<div
  class=`bg-white rounded-lg p-4 ${hideDropShadow ? "" : "drop-shadow-sm"} ${classes}`
>
  <slot />
</div>
