---
import Card from "./Card.astro";
import MobileNavigation from "./MobileNavigation.astro";
import Navigation from "./Navigation.astro";
---

<header
  class="bg-slate-100/[.06] backdrop-blur-md rounded-b-lg grid md:grid-cols-4 gap-4 mb-16 sticky top-0 z-50"
>
  <Card classes="col-span-4 md:col-span-4 grid content-center">
    <p class="text-lg md:text-4xl font-bold">Miluckshan J. Vidyajayan</p>
    <p class="text-base md:text-lg font-normal">Senior Software Engineer</p>
    <p>Engineering solutions to transform ideas into reality</p>
  </Card>
  <MobileNavigation />
  <Navigation />
</header>
