---
interface Props {
  link?: string;
  content?: string;
  disableIcon?: boolean;
  boldText?: boolean;
}

const { link, content, disableIcon } = Astro.props;
---

<a
  href={link}
  class=`font-medium ${disableIcon ? "p-1 hover:bg-slate-100 rounded-md" : "decoration-2 hover:underline hover:decoration-cyan-900"} no-underline hover:text-cyan-900`
>
  {content}
  {disableIcon ? null : " ↗"}
</a>
