---
interface Props {
  link?: string;
  content?: string;
}

const { link, content } = Astro.props;
---

<a
  href={link}
  class="underline decoration-sky-500 decoration-2 hover:text-sky-500 hover:no-underline"
>
  {content}
  {" ↗"}
</a>
