---
import Card from "./Card.astro";
import Link from "./Link.astro";
---

<Card classes="col-span-4 hidden md:block">
  <div
    class="grid grid-flow-col justify-evenly text-base md:text-lg font-normal"
  >
    <Link link="/" content="Home" disableIcon />
    <Link link="blogs" content="Blogs" disableIcon />
    <Link link="projects" content="Projects" disableIcon />
    <!-- <Link link="" content="Contact" disableIcon /> -->
  </div>
</Card>
